<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <center>
        <button id="basic">Basic Details</button>
        <button id="edu">Education</button>
        <button id="exp">Experience</button>
        <button id="lang">Language Known</button>
        <button id="tech">Technology Known</button>
        <button id="ref">References Contact</button>
        <button id="pref">Preferences</button>
    </center>
    <form action="/api/candidate" method="post">
        <div id="basic_details">
            <fieldset>
                <legend style="font-size: xx-large;">Basic Details :</legend>
                <br>
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="first_name">
                <label style="padding-left: 75px;" for="lname">Last name:</label>
                <input type="text" id="lname" name="last_name">
                <br>
                <br>
                <label for="designation">Designation:</label>
                <input type="text" id="designation" name="designation">
                <br>
                <br>
                <br>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label style="padding-left: 75px;" for="mobile_number">Mobile Number:</label>
                <input type="tel" id="mobile_number" name="mobile_number">
                <br>
                <br>
                <br>
                <br>
                <label for="address_1">Address 1:</label>
                <input type="text" id="address_1" name="address_1">
                <label style="padding-left: 75px;" for="address_2">Address 2:</label>
                <input type="text" id="address_2" name="address_2">
                <br>
                <br>

                <!-- City State Country  -->
                <label for="country">Countries</label>
                <select name="country" id="country">
                    <option value="select">select</option>

                </select>
                <label for="state">States</label>
                <select name="state" id="state">
                    <option value="select">select</option>

                </select>
                <label for="city">Cities</label>
                <select name="city" id="city">
                    <option value="select">select</option>

                </select>
                <!-- City State Country -->

                <label style="padding-left: 75px;" for="pincode">Pincode:</label>
                <input type="text" id="pincode" name="pincode">
                <br>
                <br>
                <br>
                <br>

                <h3>Gender</h3>
                <select name="gender" id="gender">
                    <% gender.forEach(opt=>{%>
                        <option value="<%= opt.value %>">
                            <%= opt.label %>
                        </option>
                        <% }) %>
                </select>

                <h3>Relationship Status</h3>
                <select name="relationship_status" id="relationship_status">
                    <% relationship_status.forEach(opt=>{%>
                        <option value="<%= opt.value %>">
                            <%= opt.label %>
                        </option>
                        <% }) %>
                </select>
            </fieldset>
        </div>

        <div style="display: none;" id="education_details">
            <fieldset>
                <legend>Education Details :</legend>
                <div id="education_container">


                    <button type="button" onclick="addEducation()">Add Field</button><button type="button"
                        onclick="removeEducation()">Remove Field</button>
                    <br><br>
                    <label for="course_1">Course:</label>

                    <select name="course_1" name="course" id="course">
                        <% education.forEach(opt=>{%>
                            <option value="<%= opt.value %>">
                                <%= opt.label %>
                            </option>
                            <% }) %>
                    </select>

                    <!-- <input type="text" id="course_1" name="course" value="<%= education.course %>"><br><br> -->
                    <label for="passing_year_1">Passing Year:</label>
                    <input type="number" id="passing_year_1" name="passing_year_1">
                    <label style="padding-left: 40px;" for="uni_board_1">University/Board:</label>
                    <input type="text" id="uni_board_1" name="uni_board_1">
                    <label style="padding-left: 40px;" for="percentage_1">Percentage:</label>
                    <input type="number" id="percentage_1" name="percentage_1" step="0.01">
                    <!-- <button type="button" id="remove_edu_1" onclick="removeEducationId(1)">X</button> -->

                </div>
            </fieldset>
        </div>

        <div style="display: none;" id="experience">
            <fieldset>
                <legend style="font-size: xx-large;">Experience Details :
                </legend>
                <div id="experience_container">

                    <button type="button" onclick="addExperience()">Add Field</button><button type="button"
                        onclick="removeExperience()">Remove Field</button><br><br>
                    <label for="company_1">Company:</label>
                    <input type="text" id="company_1" name="company_1">
                    <label id="designation_label_1" style="padding-left: 75px;" for="designation_1">Designation:</label>
                    <input type="text" id="designation_1" name="designation_1">
                    <label id="annual_package_label_1" style="padding-left: 75px;" for="annual_package_1">Annual
                        Package:</label>
                    <input type="number" id="annual_package_1" name="annual_package_1" step="0.01"><br><br>
                    <label id="from_label_1" for="from_1">From:</label>
                    <input type="date" id="from_1" name="from_1">
                    <label id="to_label_1" style="padding-left: 75px;" for="to_1">To:</label>
                    <input type="date" id="to_1" name="to_1">
                    <label id="reason_to_leave_label_1" style="padding-left: 75px;" for="reason_to_leave_1">Reason
                        for
                        Leaving:</label>
                    <input type="text" name="reason_to_leave_1" id="reason_to_leave_1"><br><br>
                    <label id="ref_contact_label_1" for="ref_contact_1">Referral Contact:</label>
                    <input type="text" id="ref_contact_1" name="ref_contact_1">
                    <label id="ref_name_label_1" style="padding-left: 75px;" for="ref_name_1">Referral Name:</label>
                    <input type="text" id="ref_name_1" name="ref_name_1">
                    <button type="button" id="remove_exp_1" onclick="removeExperienceId(1)">X</button>

                </div>
            </fieldset>
        </div>


        <!-- languages known -->
        <div style="display: none;" id="languages_known">
            <fieldset>
                <legend style="font-size: xx-large;">Languages Known</legend>
                <div style="margin-bottom: 10px;">
                    <input type="text" id="language_input" placeholder="Add language" value="<%= languages[0].name %>">
                    <button type="button" onclick="addLanguage()">Add</button>
                </div>
                <div id="languages_list">
                    <% languages.forEach(function (lang) { %>
                        <label for="<%= lang.label %>">
                            <%= lang.label %>
                        </label>
                        <input type="checkbox" id="<%= lang.label %>" name="<%= lang.label %>" value="<%= lang.label %>"
                            onclick="checkBox(this)"><br>
                        <% }) %>
                            <button type="button" id="remove_lang_1" onclick="removeLanguageId(1)">X</button>
                            <br>
                </div>
            </fieldset>
        </div>

        <!-- technologies known -->
        <div style="display: none;" id="technologies_known">
            <fieldset>
                <legend style="font-size: xx-large;">Technologies Known</legend>
                <div style="margin-bottom: 10px;">
                    <input type="text" id="technology_input" placeholder="Add technology"
                        value="<%= technologies[0].name %>">
                    <button type="button" onclick="addTechnology()">Add</button>
                </div>
                <div id="technologies_list">
                    <% technologies.forEach(function (tech) { %>
                        <label for="<%= tech.label %>">
                            <%= tech.label %>
                        </label>
                        <input type="checkbox" id="<%= tech.label %>" name="<%= tech.label %>"
                            value="<%= tech.label %>"><br>
                        <% }) %>
                </div>
            </fieldset>
        </div>

        <!-- references contact -->
        <div style="display: none;" id="reference_contact">
            <fieldset>
                <legend style="font-size: xx-large;">Reference Contact</legend>
                <label for="ref_name">Name:</label>
                <input type="text" id="ref_name" name="ref_name">
                <label style="padding-left: 75px;" for="ref_email">Email:</label>
                <input type="email" id="ref_email" name="ref_email">
                <label style="padding-left: 75px;" for="ref_phone">Phone Number:</label>
                <input type="tel" id="ref_phone" name="ref_phone">
            </fieldset>
        </div>

        <!-- preferences -->
        <div style="display: none;" id="preferences">
            <fieldset>
                <legend style="font-size: xx-large;">Preferences</legend>
                <label for="job_location">Preferred Job Location:</label>
                <select name="preferred_role" id="preferred_role">
                    <option value="select">Select</option>
                    <% job_location.forEach(opt=>{%>
                        <option value="<%= opt.value %>">
                            <%= opt.label %>
                        </option>
                        <% }) %>
                </select>
                <label style="padding-left: 75px;" for="expected_salary">Expected Salary:</label>
                <input type="number" id="expected_salary" name="expected_salary" step="0.01">
                <label style="padding-left: 75px;" for="current_salary">Current Salary:</label>
                <input type="number" id="current_salary" name="current_salary" step="0.01"><br><br>
                <label for="notice_period">Notice Period (in days):</label>
                <input type="number" id="notice_period" name="notice_period">
                <label for="preferred_role">Preferred Role:</label>
                <select name="preferred_role" id="preferred_role">
                    <option value="select">Select</option>
                    <% preferred_role.forEach(opt=>{%>
                        <option value="<%= opt.value %>">
                            <%= opt.label %>
                        </option>
                        <% }) %>
                </select>
            </fieldset>
        </div>
        <button style="display: none;" id="sub" type="submit">submit</button>

    </form>




</body>

<script>
    const cityDropdown = document.getElementById("city")
    const stateDropdown = document.getElementById("state")
    const countryDropdown = document.getElementById("country")

    window.onload = async () => {
        const res = await fetch(`http://localhost:3000/ap/country`)
        const country = await res.json()

        country.forEach(s => {
            const option = document.createElement("option")
            option.value = s.country_name
            option.textContent = s.country_name
            countryDropdown.appendChild(option)
        });
    }

    countryDropdown.addEventListener("change", async () => {
        const country = countryDropdown.value;

        stateDropdown.innerHTML = `<option value="select">select</option>`
        cityDropdown.innerHTML = `<option value="select">select</option>`

        const res = await fetch(`http://localhost:3000/ap/state?country=${country}`)
        const states = await res.json();


        states.forEach(s => {
            const option = document.createElement("option")
            option.value = s.state_name
            option.textContent = s.state_name
            stateDropdown.appendChild(option)
        });
    })

    stateDropdown.addEventListener("change", async () => {
        const state = stateDropdown.value;

        cityDropdown.innerHTML = `<option value="select">select</option>`


        const res = await fetch(`http://localhost:3000/ap/city?state=${state}`)
        const cities = await res.json();

        cities.forEach(c => {
            const option = document.createElement("option")
            option.value = c.city_name
            option.textContent = c.city_name
            cityDropdown.appendChild(option)
        });
    })

    // const arr = ["basic", "edu", "exp", "lang", "tech", "ref", "pref"]
    


    document.getElementById("basic").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "block";
        document.getElementById("education_details").style.display = "none";
        document.getElementById("experience").style.display = "none";
        document.getElementById("languages_known").style.display = "none";
        document.getElementById("technologies_known").style.display = "none";
        document.getElementById("reference_contact").style.display = "none";
        document.getElementById("preferences").style.display = "none";
        document.getElementById("sub").style.display = "none"

        document.getElementById("basic").style.backgroundColor = "black";
        document.getElementById("basic").style.color = "white";

        const allButtons = document.querySelectorAll("#edu, #exp, #lang, #tech, #ref, #pref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })

    })
    document.getElementById("edu").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "none";
        document.getElementById("education_details").style.display = "block";
        document.getElementById("experience").style.display = "none";
        document.getElementById("languages_known").style.display = "none";
        document.getElementById("technologies_known").style.display = "none";
        document.getElementById("reference_contact").style.display = "none";
        document.getElementById("preferences").style.display = "none";
        document.getElementById("sub").style.display = "none"

        document.getElementById("edu").style.backgroundColor = "black";
        document.getElementById("edu").style.color = "white";

        const allButtons = document.querySelectorAll("#basic, #exp, #lang, #tech, #ref, #pref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })

    })
    document.getElementById("exp").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "none";
        document.getElementById("education_details").style.display = "none";
        document.getElementById("experience").style.display = "block";
        document.getElementById("languages_known").style.display = "none";
        document.getElementById("technologies_known").style.display = "none";
        document.getElementById("reference_contact").style.display = "none";
        document.getElementById("preferences").style.display = "none";
        document.getElementById("sub").style.display = "none"

        document.getElementById("exp").style.backgroundColor = "black";
        document.getElementById("exp").style.color = "white";

        const allButtons = document.querySelectorAll("#basic, #edu, #lang, #tech, #ref, #pref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })
    })
    document.getElementById("lang").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "none";
        document.getElementById("education_details").style.display = "none";
        document.getElementById("experience").style.display = "none";
        document.getElementById("languages_known").style.display = "block";
        document.getElementById("technologies_known").style.display = "none";
        document.getElementById("reference_contact").style.display = "none";
        document.getElementById("preferences").style.display = "none";
        document.getElementById("sub").style.display = "none"

        document.getElementById("lang").style.backgroundColor = "black";
        document.getElementById("lang").style.color = "white";

        const allButtons = document.querySelectorAll("#basic, #edu, #exp, #tech, #ref, #pref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })
    })
    document.getElementById("tech").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "none";
        document.getElementById("education_details").style.display = "none";
        document.getElementById("experience").style.display = "none";
        document.getElementById("languages_known").style.display = "none";
        document.getElementById("technologies_known").style.display = "block";
        document.getElementById("reference_contact").style.display = "none";
        document.getElementById("preferences").style.display = "none";
        document.getElementById("sub").style.display = "none"

        document.getElementById("tech").style.backgroundColor = "black";
        document.getElementById("tech").style.color = "white";

        const allButtons = document.querySelectorAll("#basic, #edu, #exp, #lang, #ref, #pref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })
    })
    document.getElementById("ref").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "none";
        document.getElementById("education_details").style.display = "none";
        document.getElementById("experience").style.display = "none";
        document.getElementById("languages_known").style.display = "none";
        document.getElementById("technologies_known").style.display = "none";
        document.getElementById("reference_contact").style.display = "block";
        document.getElementById("preferences").style.display = "none";
        document.getElementById("sub").style.display = "none"

        document.getElementById("ref").style.backgroundColor = "black";
        document.getElementById("ref").style.color = "white";

        const allButtons = document.querySelectorAll("#basic, #edu, #exp, #lang, #tech, #pref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })
    })
    document.getElementById("pref").addEventListener("click", () => {
        document.getElementById("basic_details").style.display = "none";
        document.getElementById("education_details").style.display = "none";
        document.getElementById("experience").style.display = "none";
        document.getElementById("languages_known").style.display = "none";
        document.getElementById("technologies_known").style.display = "none";
        document.getElementById("reference_contact").style.display = "none";
        document.getElementById("preferences").style.display = "block";
        document.getElementById("sub").style.display = "block"

        document.getElementById("pref").style.backgroundColor = "black";
        document.getElementById("pref").style.color = "white";

        const allButtons = document.querySelectorAll("#basic, #edu, #exp, #lang, #tech, #ref");
        allButtons.forEach(but => {
            but.style.backgroundColor = "white"
            but.style.color = "black"
        })
    })


</script>

</html>